@model Microsoft.AspNetCore.Authentication.AuthenticationScheme[]
<head>
</head>
<body>
<div id="page">
    <h1>Sigin - StarItAll</h1>
    <p class="">Sign into GitHub to start starring:</p>

    @foreach (var scheme in Model!.OrderBy(p => p.DisplayName))
    {
        <form action="/signin" method="post">
            <input type="hidden" name="Provider" value="@scheme.Name"/>
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl"/>

            <button class="" type="submit">Connect using @scheme.DisplayName</button>
        </form>
    }
</div>
</body>