@model IEnumerable<Octokit.Repository>

@{
    ViewBag.Title = "StarItAll";
}

<h1>StarItAll</h1>

<div>
    <form method="post">
    <div>
        <label for="user">Name of User:</label>
        <input type="text" name="user" value=""/>
        <input type="submit" value="Submit" class="submit"/>
    </div>
    </form>
    <ul>
        @foreach (var repo in Model)
        {
            <li> @repo.Name </li>
        }
    </ul>
</div>