@model StarItAll.Models.IndexViewModel
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>StarItAll</title>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Star It All">
    <meta name="description" content="Star every GitHub repository from a user in just one click!">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Star It All">
    <meta property="og:description" content="Star every GitHub repository from a user in just one click!">
    <meta property="og:image" content="https://star.dvr.im/metaimage.png">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://star.dvr.im/">
    <meta property="twitter:title" content="Star It All">
    <meta property="twitter:description" content="Star every GitHub repository from a user in just one click!">
    <meta property="twitter:image" content="https://star.dvr.im/metaimage.png">
    
    <link href="~/site.css" rel="stylesheet" type="text/css"/>
    <script src="~/site.js" type="text/javascript"></script>
</head>
<body>
<div id="page">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h1>Welcome, @User.Identity.Name</h1>
        <a href="/signout?returnUrl=%2F">Sign out</a>
        <h1>StarItAll</h1>
        <p>Enter a valid GitHub username to star all of their repositories!</p>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {enctype = "multipart/form-data", onsubmit = "submitKai();"}))
        {
            <input type="text" name="user" placeholder="KaiDevrim" data-val="true" data-val-length="The field User must be a string with a maximum length of 39."
                   data-val-length-max="39" data-val-required="The User field is required." maxlength="39" id="input"/>
            <br/>
            <input type="submit" id="submit" value="Star It All" onclick="submitKai();"/>
        }
        <p id="starring-status"></p>
        <div id="loader" class="hidden"></div>

        @if (Model.ErrorMessage != string.Empty)
        {
            <h1>@Model.ErrorMessage</h1>
        }
        @if (Model.Starred.Any())
        {
            <p>Starred the following repos: </p>
            @foreach (var repo in Model.Starred)
            {
                <a href="@repo.HtmlUrl">@repo.Name</a>
                <br/>
            }
        }
    }

    else
    {
        <h1>Please signin to start starring:</h1>
        <a class="" href="/signin?returnUrl=%2F">Sign in</a>
    }
</div>
</body>