@model IndexViewModel
@{
    ViewBag.Title = "StarItAll";
}

<h1>StarItAll</h1>

<div>
    <label>User</label>
    @using (Html.BeginForm())
    {
        <input type="text" name="user" placeholder="KaiDevrim" data-val="true" data-val-length="The field User must be a string with a maximum length of 39."
               data-val-length-max="39" data-val-required="The User field is required." maxlength="39"/>
        <br/>
        <input type="submit"/>
    }

    @if (Model.ErrorMessage != string.Empty)
    {
        <h1>@Model.ErrorMessage</h1>
    }
</div>